<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />
  </head>
  <body>
    <header>
      <h1>Tech Blog</h1>
    </header>

    <nav>
     <a href='/'>Home</a>
      {{#if loggedIn}}
        <a href='#' id='logout'>Logout</a>
      {{else}}
        <a href='/login'>Login</a>
      {{/if}}
      <a href='/api/posts'>Dashboard</a>
    </nav>

    <main>
    {{{body}}}
    </main>
    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}
      
  </body>
</html>
