<section>
        <h2>The Tech Blog</h2>
        <div class="tech-blog">
            <div class="add-comment">
               
               <p>{{post.title}} + "       " + {{post.user.name.date}}</p>
               <p>{{post.content}}</p>
                    
                <div class="comment">
                    <form class="comment-text">
                        
                        <textarea name="content" id="content" cols="70" rows="4"></textarea>
                           <div class="form-group">
                                <button class="btn btn-comment" type="submit">Submit</button>
                            </div>
                    </form>
            </div>
        </div>
</section>