<section>
        <h2>The Tech Blog</h2>
        <div class="tech-blog">
            <div class="previousComment">
               
               <p>{{post.title}} Posted by {{post.user.username}} on {{formatDate post.createdAt}}</p>
               <p>{{post.content}}</p>
                    
                <div class="comment">
                    <form class="add-comment">
                        
                        <textarea name="content" id="comment-text" cols="70" rows="4"></textarea>
                           <div class="form-group">
                                <button class="btn btn-comment" type="submit">Submit</button>
                            </div>
                    </form>
            </div>
        </div>
</section>