* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 30px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }
  
  nav {
    display: flex;
    background-color: #d8a47f;
  }
  
  nav a {
    color: #13293d;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover {
      color: #fff;

  }
  

  main {
    display: flex;
    flex-wrap: wrap;
  }

  .post-card {
    background-color:#fff;
    height: 140px
    
    
  }

  .post {
    background-color:#13293d;
    height: 120px;
    padding: 3px;
    border-bottom: 5px;
    
  }

  .title-comment {
    background-color: #13293d;
    color: #fff;
    padding: 5px;
   
  }

  .content-comment {
    border: 3px;
    border-color: #13293d;
    border-style: solid;
    padding: 5px;
    position: relative;
    bottom: 20px;
  }
  .comments {
    background-color: #d8a47f;
    color: #13293d;
    padding: 10px;
  }

  .add-comment {
  background-color: #13293d;
  color:#fff;
  padding: 5px;
  text-decoration: none;
  }
  
  .add-comment:hover {
    color: #d8a47f;
  }

  .post-title {
    background-color: #13293d;
  color: #fff;
  padding: 5px;
  }

  .post-content {
    background-color: #d8a47f;
    padding: 10px;
    height: 80px;
  }
 
  section {
    flex: 3;
    background-color: #fff;
    padding: 20px;
  }
  
  .sample-img {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    height: 200px;
    border: 1px solid black;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background: #13293d;
    color: #fff;
  }

  /* submit, login and register form styling */
form.add-comment,
.signup,
.login {
  text-align: center;
}

.login-registration-title {
  margin-bottom: 0.5rem;
}

/* adding flex-box to login and signup forms to center on page */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* colour and spacing for signup and login form */
.signup-form,
.login-form {
  background-color: var(--green);
  padding: 1rem;
  text-align: center;
}

/* make width of input fields 45viewport width, exclude the 'Remember Me' checkbox */
input:not(#logcheck) {
  width: 20vw;
}

.input-field {
  margin: 0.5rem;
}
  
  @media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background-color: #13293d;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #d8a47f;;
    }
  }
  